body{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

#green {
    order: 1;
}

#yellow {    
    order: -1;
}

#orange {
    flex-grow: 1;
    order: 3;
}

#red {    
    order: 0;
}

#blue {
    order: 3;
}

